<div class="container">
  <div class="dashboard-header">
    <h1><img src="/calendar-icon.svg" alt="" style="width: 40px; height: 40px; vertical-align: middle; margin-right: 0.5rem;"> My Tournaments</h1>
  </div>

  <div id="dashboard-app"></div>
</div>
